@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>This is contact us page</h3>
<p>YOu can call us at our 24X7 number 7896543210</p>
